body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Search Page */
.menu-r{
    text-align: right;
    padding: 15px;
}

.menu-r a{
    width: 10%;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.menu-r a:hover,.navbar a:active{
  text-decoration: underline;
  color: black;
}

.box-c{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 150px; /*Vertical push down */
}

.search-input{
  display: block;
  border-color: #888888;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  width: 500px;
}
.search-input:hover, .search-input:focus{
  box-shadow: 0 0 10px #888888;
  outline: none;
}

.search-button{
  background-color: #f8f8f8ea;
  border-style: none;
  border-radius: 5px;
  margin: 11px 4px;
  padding: 8px 16px;
}

.search-button:hover, .search-button:focus{
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
/* Advanced Search */
.menu-logo {
  float:left;
  padding: 15px;
}
.menu-logo img {
  height: 30px;
}

.title-bar {
  margin: 30px;
}
.title-bar label {
  color: #d93025;
  font-size: 20px;
  padding-left: 20px;
}
.separator-line {
  border-bottom: solid 1px #d6d6d6;
}

/* First line */
.box-l {
  margin: 50px 40px;
}
.box-l label {
  display: inline-block;
  width: 15%;
  font-size: 16px;
  font-weight: 400;
}
.box-l .whitespace {
  display: inline-block;
  width: 40%;
}

/* Search lines area */
.box-l .advanced-search {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
}
.box-l .advanced-search label {
  width: 15%;
  font-size: 14px;
  font-weight: normal;
}
.box-l .advanced-search input[type=text] {
  width: 40%;
  padding: 2px 0;
}
.box-l .advanced-search .example-text {
  font-size: 11px;
  width: 20%;
  margin-left: 1%;
}
.box-l .advanced-search .example-text .monospace {
  font-family: monospace;
  white-space: pre;
}
.box-l .advanced-search .right-align {
  width: 40%;
}

input.blue-button {
  float: right;
  background-color: #4d90fe;
  color: white;
  max-width: 200px;
  border-radius: 2px;
  border: 1px solid #3079ed;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 100%;
  height: 30px;
  min-width: 120px;

  margin: 0;
}
